@using AccessingChildcareEntitlementChecker.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer

@{
    var title = "Before you continue";
    ViewData["Title"] = Localizer[title];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @Localizer[title]
        </h1>

        <govuk-inset-text>
            @Localizer["You are now using a new service to check childcare support."]
        </govuk-inset-text>

        <p class="govuk-body">
            @Localizer["This new service:"]
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>@Localizer["checks more types of childcare support"]</li>
            <li>@Localizer["gives more detail about the childcare support you may be eligible for, including how this could change over time"]</li>
        </ul>

        <p class="govuk-body">
            @Localizer["If you prefer, you can"]
            <a class="govuk-link" href="https://www.tax.service.gov.uk/childcare-calc/">
                @Localizer["go back to the childcare calculator you were using before."]
            </a>
        </p>

        <h2 class="govuk-heading-m">
            @Localizer["What you will need"]
        </h2>

        <p class="govuk-body">
            @Localizer["You will need information about you and your partner (if you have one), so you can answer questions about:"]
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>@Localizer["your children, or any you are expecting"]</li>
            <li>@Localizer["your work and income"]</li>
            <li>@Localizer["your nationality"]</li> 
            <li>@Localizer["any benefits you get"]</li>
        </ul>

        <h2 class="govuk-heading-m">
            @Localizer["Who cannot use this service"]
        </h2>

        <p class="govuk-body">
            @Localizer["This service will not give you accurate results if your child:"]
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>@Localizer["is in local authority or foster care"]</li> 
            <li>@Localizer["does not live with you more than half of the time"]</li>
        </ul>

        <p class="govuk-body">
            @Localizer["If any of these apply to you,"]
            <a class="govuk-link" href="https://www.gov.uk/find-local-council">
                @Localizer["contact your local council"]
            </a>
            @Localizer["to get advice about childcare support and what to do next."]
        </p>

        <form method="post" novalidate>
            <a asp-controller="Home" asp-action="@nameof(HomeController.Location)"
               class="govuk-button govuk-button--start"
               data-module="govuk-button">

                @Localizer["Start now"]

                <svg class="govuk-button__start-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     width="17.5"
                     height="19"
                     viewBox="0 0 33 40"
                     aria-hidden="true"
                     focusable="false">
                    <path fill="currentColor"
                          d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </form>
    </div>
</div>
