@model AccessingChildcareEntitlementChecker.Web.Models.WhereDoYouLiveViewModel
@using AccessingChildcareEntitlementChecker.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer

<partial name="_ErrorSummary" />

<form method="post" novalidate>
    
    @section BeforeMainContent {
        <a asp-action="@nameof(HomeController.Start)"
           asp-controller="Home"
           class="govuk-back-link">
            @Shared["Button_Back"]
        </a>
    }

    <div class="govuk-form-group @(ViewData.ModelState.ContainsKey(nameof(Model.Country)) && ViewData.ModelState[nameof(Model.Country)]!.Errors.Count > 0 ? "govuk-form-group--error" : "")">

        <fieldset class="govuk-fieldset" aria-describedby="country-error">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-1">
                    @Localizer["Title"]
                </h1>
                <span class="govuk-caption-m">@Localizer["Caption"]</span>
                
            </legend>

            @if (ViewData.ModelState.ContainsKey(nameof(Model.Country)) &&
                 ViewData.ModelState[nameof(Model.Country)]!.Errors.Count > 0)
            {
                <p id="country-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    @ViewData.ModelState[nameof(Model.Country)]!.Errors[0].ErrorMessage
                </p>
            }

            <div class="govuk-radios" data-module="govuk-radios">

                @{
                    var countries = Enum.GetValues<CountryOfResidence>();
                }

                @foreach (var value in countries)
                {
                    bool isFirst = value == countries.First();
                    var inputId = isFirst ? nameof(Model.Country) : $"Country-{value}";

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               id="@inputId"
                               name="@nameof(Model.Country)"
                               type="radio"
                               value="@value"
                               @(Model.Country == value ? "checked" : "")/>

                        <label class="govuk-label govuk-radios__label" for="@inputId">
                            @Localizer[$"Option_{value}"]
                        </label>
                    </div>
                }

            </div>
        </fieldset>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        @Shared["Button_Continue"]
    </button>

</form>