@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer


@section BeforeContent {
    <govuk-back-link asp-controller="Home" asp-action="Start">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <govuk-radios name="Country" id="Country">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Localizer["Title"]
            </govuk-radios-fieldset-legend>
            
            <govuk-radios-hint>
                @Localizer["Caption"]
            </govuk-radios-hint>

            @if (ViewData.ModelState.ContainsKey(nameof(Model.Country)) &&
                 ViewData.ModelState[nameof(Model.Country)]!.Errors.Count > 0)
            {
                <govuk-radios-error-message>
                    @ViewData.ModelState[nameof(Model.Country)]!.Errors[0].ErrorMessage
                </govuk-radios-error-message>
            }

            @foreach (var value in Enum.GetValues<CountryOfResidence>())
            {
                <govuk-radios-item value="@value">@Localizer[$"Option_{value}"]</govuk-radios-item>
                
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>