@model WhereDoYouLiveViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<WhereDoYouLiveViewModel> Localizer

<form method="post" novalidate>
    <govuk-radios for="Country">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Html.DisplayNameFor(m => m.Country)
            </govuk-radios-fieldset-legend>

            <govuk-radios-error-message asp-validation-for="Country" />

            @foreach (var country in Enum.GetValues<CountryOfResidence>())
            {
                var key = $"Country_{country}";
                <govuk-radios-item value="@country" checked="@(Model.Country == country)">@Localizer[key]</govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
