@using AccessingChildcareEntitlementChecker.Web.Models.ExpectedChildDetails
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ExpectedChildRelationshipViewModel

@section BeforeContent {
    @if (Model.ReturnTo == "check-your-childrens-details")
    {
        <govuk-back-link asp-controller="Summary" asp-action="CheckChildDetails">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="ExpectedChildDetails" asp-action="ChildDueDate" asp-route-childId="@Model.ChildId">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
    <input type="hidden" asp-for="ReturnTo" />
    <govuk-radios for="ExpectedChildRelationship">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Localizer["What will your relationship be to this child?"]
            </govuk-radios-fieldset-legend>

            <govuk-radios-error-message />

            @foreach (var value in Enum.GetValues<Relationship>())
            {
                <govuk-radios-item value="@value">
                    @Html.EnumDisplayName(value)
                </govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
