@using Microsoft.AspNetCore.Mvc.Localization
@using AccessingChildcareEntitlementChecker.Web.Models.Children
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildSupportViewModel

@section BeforeContent {
    @if (Model.ReturnTo == "check-your-childrens-details")
    {
        <govuk-back-link asp-controller="CheckChildDetails" asp-action="CheckChildDetails">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="Children" asp-action="ChildRelationship" asp-route-childId="@Model.ChildId">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
            <input type="hidden" asp-for="ReturnTo" />
            <govuk-checkboxes for="ChildSupportOptions">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Localizer["Does {0} get any of the following support?", Model.ChildName]
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        @Html.GetDescriptionFor(m => m.ChildSupportOptions)
                    </govuk-checkboxes-hint>

                    <govuk-checkboxes-error-message />

                    @foreach (var value in Enum.GetValues<ChildSupport>())
                    {
                        if (value == ChildSupport.NoneOfTheseApply)
                        {
                            <govuk-checkboxes-divider>
                                @Localizer["or"]
                            </govuk-checkboxes-divider>
                        }

                        <govuk-checkboxes-item value="@value">
                            @Html.EnumDisplayName(value)
                        </govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
