@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildNameViewModel

@section BeforeContent {
    <govuk-back-link href="@ViewData["BackLinkHref"]">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @Localizer["Add details about your children"]
        </h1>

        <p class="govuk-body">
            @Localizer["You will now be asked a few questions about each child you want to check childcare support for."]
        </p>

        <p class="govuk-body">
            @Localizer["You can include children you already have or are expecting."]
        </p>

        <h2 class="govuk-heading-l">
            @Localizer["Add a child"]
        </h2>

        <p class="govuk-body">
            Add one child at a time.
        </p>

        <form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
            <govuk-input for="ChildName" label-class="govuk-label--m" input-class="govuk-input--width-20" />

            <govuk-details>
                <govuk-details-summary>
                    @Localizer["Why a name is needed"]
                </govuk-details-summary>
                <govuk-details-text>
                    <p class="govuk-body">
                        @Localizer["The name is used to make your results clearer. It will not be used for anything else."]
                    </p>
                </govuk-details-text>
            </govuk-details>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
