@using AccessingChildcareEntitlementChecker.Web.Models
@using AccessingChildcareEntitlementChecker.Web.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildIsBornViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@section BeforeContent {
    @if (Model.ReturnTo == "check-your-childrens-details")
    {
        <govuk-back-link asp-controller="CheckChildDetails" asp-action="CheckChildDetails">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="Introduction" asp-action="ChildName" asp-route-childId="@Model.ChildId">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="IsChildBorn">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Html.DisplayNameFor(model => model.IsChildBorn)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<BirthStatusOption>())
                    {
                        <govuk-radios-item value="@value">
                            @Html.EnumDisplayName(value)
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
