@using AccessingChildcareEntitlementChecker.Web.Models.Summary
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model CheckChildDetailsViewModel

@{
    ViewData["Title"] = Localizer["Check your children's details"];
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["RemovedChildName"] is string removedChildName)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">@Localizer["Success"]</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">@Localizer["{0} has been removed", removedChildName]</h3>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l">@Localizer["Check your children's details"]</h1>

        @if (!Model.HasChildren)
        {
            <p class="govuk-body">@Localizer["No children added."]</p>
            <p class="govuk-body">@Localizer["You must add a child to continue."]</p>
        }
        else
        {
            <h2 class="govuk-heading-m">@Localizer["Your children"]</h2>

            @foreach (var item in Model.Children)
            {
                <partial name="_ChildSummaryCard" model="item" />
            }
        }

        <div class="govuk-!-margin-bottom-4">
            <govuk-button-link class="govuk-button--secondary" asp-controller="Introduction" asp-action="ChildName">
                @Localizer["Add another child"]
            </govuk-button-link>
        </div>

        @if (Model.HasChildren)
        {
            <div class="govuk-!-margin-top-3">
                <form asp-controller="Summary" asp-action="CheckChildDetails" method="post">
                    <input type="hidden" asp-for="CorrelationId" />
                    <govuk-button type="submit">@Shared["Button_Continue"]</govuk-button>
                </form>
            </div>
        }
    </div>
</div>
