@using AccessingChildcareEntitlementChecker.Web.Models
@using AccessingChildcareEntitlementChecker.Web.Models.Summary
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model CheckChildDetailsViewModel

@section BeforeContent {
    @if (Model.LastEditedChild != null)
    {
        <govuk-back-link href="@NavigationService.GetBackUrl(Page.CheckChildDetails, childId: Model.LastEditedChild.ChildId)">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (TempData["RemovedChildName"] is string removedChildName)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">@Localizer["Success"]</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">@Localizer["{0} has been removed", removedChildName]</h3>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l">@Localizer["Check your children's details"]</h1>

        <h2 class="govuk-heading-m">@Localizer["Your children"]</h2>

        @if (!Model.HasChildren)
        {
            <p class="govuk-body">@Localizer["No children added."]</p>
            <p class="govuk-body">@Localizer["You must add a child to continue."]</p>
        }
        else
        {
            @foreach (var item in Model.Children)
            {
                <partial name="_ChildSummaryCard" model="item" />
            }
        }

        <div class="govuk-!-margin-bottom-4">
            <govuk-button-link class="govuk-button--secondary" asp-controller="Introduction" asp-action="ChildName">
                @Localizer["Add another child"]
            </govuk-button-link>
        </div>

        @if (Model.HasChildren)
        {
            <div class="govuk-!-margin-top-3">
                <govuk-button-link type="submit" asp-controller="User" asp-action="UserAge">@Shared["Button_Continue"]</govuk-button-link>
            </div>
        }
    </div>
</div>
