@using AccessingChildcareEntitlementChecker.Web.Models.Summary
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model RemoveChildViewModel

@section BeforeContent {
    <govuk-back-link href="@ViewData["BackLinkHref"]">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-antiforgery="true" novalidate>
            <input type="hidden" asp-for="ChildId" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="RemoveConfirmed">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Localizer["Are you sure you want to remove {0}?", Model.Name]
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />

                    <govuk-radios-item value="@true">
                        @Localizer["Yes"]
                    </govuk-radios-item>

                    <govuk-radios-item value="@false">
                        @Localizer["No"]
                    </govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
