@using AccessingChildcareEntitlementChecker.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Localizer["Title"]
        </h1>
    
        <p class="govuk-body">
            @Localizer["Body"]
        </p>

        <p class="govuk-body">
            @Localizer["Body2"]
        </p>
        
        <p class="govuk-body">
            @Localizer["Body3a"]
            <a class="govuk-link" href="https://www.gov.uk/get-childcare">
                @Localizer["Body3b"]
            </a>.
        </p>
    </div>
</div>
