@using AccessingChildcareEntitlementChecker.Web.Models.User
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model ChildcareSupportViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="User" asp-action="Benefits">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.ChildcareSupport)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-checkboxes for="ChildcareSupport">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.ChildcareSupport)
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-error-message />
                    @foreach (var value in Enum.GetValues<ChildcareSupportOption>())
                    {
                        if (value == ChildcareSupportOption.None)
                        {
                    <govuk-checkboxes-divider>
                        @Localizer["or"]
                    </govuk-checkboxes-divider>
                        }

                    <govuk-checkboxes-item value="@value">
                        @Html.EnumDisplayName(value)
                    </govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <govuk-details>
                <govuk-details-summary>
                    @Localizer["Why this childcare support matters"]
                </govuk-details-summary>
                <govuk-details-text>
                    <p class="govuk-body">
                        @Localizer["Some childcare support schemes cannot be used together. This information helps give you the most accurate results."]
                    </p>

                </govuk-details-text>
            </govuk-details>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
