@using AccessingChildcareEntitlementChecker.Web.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model HasPartnerViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@section BeforeContent {
    @if (JourneyState.User.ChildcareSupport.Contains(ChildcareSupportOption.ChildcareVouchers))
    {
        <govuk-back-link asp-controller="User" asp-action="ChildcareVoucherReceipt">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
         <govuk-back-link asp-controller="User" asp-action="ChildcareSupport">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.HasPartner)
        </h1>

        <p class="govuk-body">
            @Localizer["This means you live together as a couple."]
        </p>

        <p class="govuk-body">
            @Localizer["It also includes if they are posted overseas as a Crown servant, member of the armed forces, a mariner or working offshore."]
        </p>

        <form method="post" novalidate>

            <govuk-radios for="HasPartner">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.HasPartner)
                    </govuk-radios-fieldset-legend>

                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<HasPartnerOption>())
                    {
                        <govuk-radios-item value="@value">
                            @Html.EnumDisplayName(value)
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
