@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model HasPartnerViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="Home" asp-action="WhereDoYouLive">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <govuk-radios for="HasPartner">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Localizer["Title"]
            </govuk-radios-fieldset-legend>

            <govuk-radios-hint>
                @Localizer["Caption"]
            </govuk-radios-hint>

            <govuk-radios-error-message />

            <govuk-radios-item value="true">
                @Shared["Option_Yes"]
            </govuk-radios-item>

            <govuk-radios-item value="false">
                @Shared["Option_No"]
            </govuk-radios-item>

        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>