@using Microsoft.AspNetCore.Mvc.Localization
@using AccessingChildcareEntitlementChecker.Web.Models.User
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model LocationViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="Introduction" asp-action="Start">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            <govuk-radios for="Country">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        @Html.DisplayNameFor(model => model.Country)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<CountryOfResidence>())
                    {
                        <govuk-radios-item value="@value">
                            @Html.EnumDisplayName(value)
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
