@using AccessingChildcareEntitlementChecker.Web.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model PaidWorkViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@{
    ViewData["Title"] = Html.DisplayNameFor(model => model.PaidWork);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.PaidWork)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="PaidWork">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.PaidWork)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<PaidWorkOption>())
                    {
                        <govuk-radios-item value="@value">
                            @Html.EnumDisplayName(value)

                            @if (Html.EnumDescription(value) is string description)
                            {
                                <govuk-radios-item-hint>
                                    @description
                                </govuk-radios-item-hint>
                            }
                        </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
