@using AccessingChildcareEntitlementChecker.Web.Models.User
@using AccessingChildcareEntitlementChecker.Web.Services
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model ParentalLeaveViewModel

@{
    ViewData["Title"] = Html.DisplayNameFor(model => model.ParentalLeaveChildrenIds);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="~/Views/Shared/_ErrorSummary.cshtml" />

        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.ParentalLeaveChildrenIds)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <partial name="~/Views/Shared/_ChildrenCheckboxes.cshtml" model="@((
                nameof(Model.ParentalLeaveChildrenIds),
                Html.DisplayNameFor(m => m.ParentalLeaveChildrenIds),
                (IReadOnlyList<Child>)Model.Children,
                (IReadOnlyList<string>)Model.ParentalLeaveChildrenIds))" />

            <govuk-error-summary/>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
