@using AccessingChildcareEntitlementChecker.Web.Models.User
@using AccessingChildcareEntitlementChecker.Web.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model UniversalCreditViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@section BeforeContent {
    @if (JourneyState.PaidWork == PaidWorkOption.No)
    {
        <govuk-back-link asp-controller="User" asp-action="PaidWork">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else if (JourneyState.SelfEmployedDuration == SelfEmployedDurationOption.LessThan12Months)
    {
        <govuk-back-link asp-controller="User" asp-action="SelfEmployedDuration">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else if (JourneyState.WeeklyEarnings == WeeklyEarningsOption.AboveThreshold)
    {
        <govuk-back-link asp-controller="User" asp-action="YearlyEarnings">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="User" asp-action="WeeklyEarnings">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.UniversalCredit)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="UniversalCredit">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.UniversalCredit)
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<UniversalCreditOption>())
                    {
                    <govuk-radios-item value="@value">
                        @Html.EnumDisplayName(value)
                    </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
