@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model UserAgeViewModel

@section BeforeContent {
    <govuk-back-link asp-controller="User" asp-action="ChildrensDetails">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<form method="post" novalidate>
    <govuk-radios for="UserAge">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Localizer["Title"]
            </govuk-radios-fieldset-legend>

            <govuk-radios-error-message />

            <govuk-radios-item value="UnderEighteen">
                @Localizer["Option_Under-18-years-old"]
            </govuk-radios-item>

            <govuk-radios-item value="EighteenToTwenty">
                @Localizer["Option_18-to-20-years-old"]
            </govuk-radios-item>

            <govuk-radios-item value="TwentyOneOrOver">
                @Localizer["Option_21-years-old-or-over"]
            </govuk-radios-item>

        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>