@using AccessingChildcareEntitlementChecker.Web.Models.User
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer 
@model WeeklyEarningsViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@{
    var thresholds = Model.WeeklyEarningsThresholds!;
    var questionKey = Model.IsOnParentalLeave ? "WeeklyEarnings_ParentalLeave_Question" : "WeeklyEarnings_Question";
    var question = Shared[questionKey, thresholds.PerWeek];
    var description = Localizer["This is the same as £{0} a month or £{1} a year. If your income varies, use what you earn in a typical week.", thresholds.PerMonth, thresholds.PerYear];
    ViewData["Title"] = question;
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @question
        </h1>
        <p class="govuk-hint">
            @description
        </p>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="WeeklyEarnings">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden">
                        @question
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<WeeklyEarningsOption>())
                    {
                    <govuk-radios-item value="@value">
                        @Html.EnumDisplayName(value)
                    </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
