@using AccessingChildcareEntitlementChecker.Web.Services
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model (string Name, string Legend, IReadOnlyList<Child> Children, IReadOnlyList<string> Selected)
@{
    var hasError = ViewData.ModelState.TryGetValue(Model.Name, out var entry) && entry!.Errors.Count > 0;
    var errorText = hasError ? entry!.Errors[0].ErrorMessage : null;
    var errorId = $"{Model.Name}-error";
}

<div class="govuk-form-group@(hasError ? " govuk-form-group--error" : "")">
    <fieldset class="govuk-fieldset" @(hasError ? $" aria-describedby=\"{errorId}\"" : "")>
        <legend class="govuk-fieldset__legend govuk-visually-hidden">
            @Model.Legend
        </legend>

        @if (hasError)
        {
            <p id="@errorId" class="govuk-error-message">
                <span class="govuk-visually-hidden">@Localizer["Error"]:</span> @errorText
            </p>
        }

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            @{
                var i = 0;
            }
            @foreach (var child in Model.Children)
            {
                var id = i == 0 ? Model.Name : $"{Model.Name}-{i}";
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@id" name="@Model.Name"
                           type="checkbox" value="@child.ChildId"
                           checked="@Model.Selected.Contains(child.ChildId)" />
                    <label class="govuk-label govuk-checkboxes__label" for="@id">@child.Name</label>
                </div>
                i++;
            }

            <div class="govuk-checkboxes__divider">@Localizer["or"]</div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="@($"{Model.Name}-none")" name="@Model.Name"
                       type="checkbox" value="None" data-behaviour="exclusive"
                       checked="@Model.Selected.Contains("None")" />
                <label class="govuk-label govuk-checkboxes__label" for="@($"{Model.Name}-none")">
                    @Localizer["None of these children"]
                </label>
            </div>
        </div>
    </fieldset>
</div>
