@using AccessingChildcareEntitlementChecker.Web.Controllers
@using AccessingChildcareEntitlementChecker.Web.Services
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject ICookiePolicyService CookiePolicyService
@{
    Layout = "_GovUkPageTemplate";
    var serviceName = Shared["ServiceName"];
    var serviceUrl = Url.Action(nameof(HomeController.Start), HomeController.Name);
}

@section Head {
    @if (CookiePolicyService.HasConsented)
    {
        <partial name="_Analytics" />
    }

    @Html.GovUkFrontendStyleImports()
}

@section BodyStart {
    @if (!CookiePolicyService.HasUserPreference)
    {
        <partial name="_CookieBanner" />
    }
}

@section GovUkHeader {
    <govuk-header home-page-url="https://gov.uk/" />
    <govuk-service-navigation service-name="@serviceName" service-url="@serviceUrl" />

    <govuk-phase-banner class="govuk-width-container">
        <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
        This is a new service. Help us improve it and 
        <a class="govuk-link" href="https://dferesearch.eu.qualtrics.com/jfe/preview/previewId/a14e158a-6737-4936-b6cc-9b495f8a4dea/SV_8eotBOVwAQbdP8y?Q_CHL=preview&Q_SurveyVersionID=current">
            give your feedback (opens in new tab)
        </a>.
    </govuk-phase-banner>
}

@section BeforeContent {
    @await RenderSectionAsync("BeforeContent", required: false)
}

@RenderBody()

@section GovUkFooter {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="#">Item 1</govuk-footer-meta-item>
                <govuk-footer-meta-item href="#">Item 2</govuk-footer-meta-item>
                <govuk-footer-meta-item asp-action="@nameof(CookiesController.Cookies)" asp-controller="@CookiesController.Name">
                    @Shared["Cookies"]
                </govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
        <govuk-footer-content-licence />
        <govuk-footer-copyright />
    </govuk-footer>
}

@section BodyEnd {
    @if (!CookiePolicyService.HasUserPreference)
    {
        <partial name="_CookieBannerScript" />
    }
}