@using Microsoft.AspNetCore.Mvc.Localization
@using AccessingChildcareEntitlementChecker.Web.Models.BornChildDetails
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildSupportViewModel

@{
    ViewData["Title"] = Localizer["Does {0} get any of the following support?", Model.ChildName];
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
            <input type="hidden" asp-for="ReturnTo" />
            <app-checkboxes for="ChildSupportOptions"
                                 legend="@Localizer["Does {0} get any of the following support?", Model.ChildName]"
                                 hint="@Html.GetDescriptionFor(m => m.ChildSupportOptions)"
                                 exclusive-value="ChildSupport.NoneOfTheseApply" />

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
