@using AccessingChildcareEntitlementChecker.Web.Models.BornChildDetails
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject IViewLocalizer Localizer
@model ChildRelationshipViewModel

@{
    ViewData["Title"] = Localizer["What is your relationship to {0}?", Model.ChildName];
}

@section BeforeContent {
    @if (Model.ReturnTo is not null)
    {
        <govuk-back-link asp-controller="Summary" asp-action="@(Model.ReturnTo == ReturnTo.CheckAnswers ? "CheckAnswers" : "CheckChildDetails")">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="BornChildDetails" asp-action="ChildBirthDate" asp-route-childId="@Model.ChildId">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<form method="post" asp-route-childId="@Model.ChildId" asp-antiforgery="true" novalidate>
    <input type="hidden" asp-for="ReturnTo" />
    <govuk-radios for="Relationship">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Localizer["What is your relationship to {0}?", Model.ChildName]
            </govuk-radios-fieldset-legend>

            <govuk-radios-error-message />

            @foreach (var value in Enum.GetValues<Relationship>())
            {
                <govuk-radios-item value="@value">
                    @Html.EnumDisplayName(value)
                </govuk-radios-item>
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">
        @Shared["Button_Continue"]
    </govuk-button>
</form>
