@using AccessingChildcareEntitlementChecker.Web.Models.Partner
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model PartnerChildcareSupportViewModel

@{
    ViewData["Title"] = Html.DisplayNameFor(model => model.PartnerChildcareSupport);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.PartnerChildcareSupport)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-checkboxes for="PartnerChildcareSupport">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.PartnerChildcareSupport)
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-error-message />
                    @foreach (var value in Enum.GetValues<PartnerChildcareSupportOption>())
                    {
                        @if (value == PartnerChildcareSupportOption.None)
                        {
                            <govuk-checkboxes-divider>
                                @Localizer["or"]
                            </govuk-checkboxes-divider>
                        }

                        <govuk-checkboxes-item value="@value" behaviour="@(value == PartnerChildcareSupportOption.None ? "exclusive" : null)">
                            @Html.EnumDisplayName(value)
                        </govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <govuk-details>
                <govuk-details-summary>
                    @Localizer["Why this childcare support matters"]
                </govuk-details-summary>
                <govuk-details-text>
                    <p class="govuk-body">
                        @Localizer["Some childcare support schemes cannot be used together. This information helps give you the most accurate results."]
                    </p>

                </govuk-details-text>
            </govuk-details>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
