@using AccessingChildcareEntitlementChecker.Web.Models.Partner
@using AccessingChildcareEntitlementChecker.Web.Services
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model PartnerBenefitsViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@section BeforeContent {
    @if (JourneyState.Partner.PartnerYearlyEarnings == YearlyEarningsOption.AboveThreshold)
    {
        <govuk-back-link asp-controller="Partner" asp-action="PartnerYearlyEarnings">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else if (JourneyState.Partner.PartnerWeeklyEarnings == WeeklyEarningsOption.AboveThreshold)
    {
        <govuk-back-link asp-controller="Partner" asp-action="PartnerYearlyEarnings">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else if (JourneyState.Partner.PartnerSelfEmployedDuration == SelfEmployedDurationOption.LessThan12Months)
    {
        <govuk-back-link asp-controller="Partner" asp-action="PartnerSelfEmployedDuration">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else if (JourneyState.Partner.PartnerPaidWork == PartnerPaidWorkOption.No)
    {
        <govuk-back-link asp-controller="Partner" asp-action="PartnerPaidWork">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
    else
    {
        <govuk-back-link asp-controller="Partner" asp-action="PartnerWeeklyEarnings">
            @Shared["Button_Back"]
        </govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.DisplayNameFor(model => model.PartnerBenefits)
        </h1>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-checkboxes for="PartnerBenefits">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-visually-hidden">
                        @Html.DisplayNameFor(model => model.PartnerBenefits)
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-error-message />
                    @foreach (var value in Enum.GetValues<PartnerBenefitsOption>())
                    {
                        @if (value == PartnerBenefitsOption.None)
                        {
                            <govuk-checkboxes-divider>
                                @Localizer["or"]
                            </govuk-checkboxes-divider>
                        }

                        <govuk-checkboxes-item value="@value">
                            @Html.EnumDisplayName(value)
                        </govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
