@using AccessingChildcareEntitlementChecker.Web.Models.Partner
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Shared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model PartnerWeeklyEarningsViewModel
@inject AccessingChildcareEntitlementChecker.Web.Services.JourneyState JourneyState

@{
    var thresholds = Model.WeeklyEarningsThresholds!;
    var question = Shared[Model.IsOnParentalLeave ? "PartnerWeeklyEarnings_ParentalLeave_Question" : "PartnerWeeklyEarnings_Question", thresholds.PerWeek];
    ViewData["Title"] = question;
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink">
        @Shared["Button_Back"]
    </govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @question
        </h1>
        if (@Model.IsOnParentalLeave) {
            <p class="govuk-hint">
                @Localizer["Think about what they will expect to earn over the next 3 months after their return from leave."]
            </p>
        }
        else
        {
            <p class="govuk-hint">
                @Localizer["Think about what they expect to earn over the next 3 months."]
            </p>
        }
        <p class="govuk-hint">
            @Localizer["This is the same as approximately £{0} a month or £{1} a year.", thresholds.PerMonth, thresholds.PerYear]
        </p>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ReturnTo" />

            <govuk-radios for="PartnerWeeklyEarnings">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-visually-hidden">
                        @question
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-error-message />
                    @foreach (var value in Enum.GetValues<WeeklyEarningsOption>())
                    {
                    <govuk-radios-item value="@value">
                        @Html.EnumDisplayName(value)
                    </govuk-radios-item>
                    }
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">
                @Shared["Button_Continue"]
            </govuk-button>
        </form>
    </div>
</div>
